<div class="sidebar" [ngClass]="{'show': !sidebarToggle, 'hide': sidebarToggle}">

	<a class="navbar-brand mb-5" routerLink="home">
		<img class="mx-auto" src="./assets/logo.svg" loading="lazy" width="70px" />
	</a>


	<div class="nav-item accordion-item">
		<a routerLink="dashboard" routerLinkActive="active" class="navbar-dropdown-link">Dashboard</a>
	</div>

	<div class="nav-item accordion-item">
		<a routerLink="blogs" routerLinkActive="active" class="navbar-dropdown-link">Blogs</a>
	</div>

	<div class="accordion" id="accordionNavbar">
		<div class="accordion-item">
			<h2 class="accordion-header" id="menuOne">
				<button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#menuOneCollapse" aria-expanded="false" aria-controls="menuOneCollapse">
					Get a quote
				</button>
			</h2>
			<div id="menuOneCollapse" class="accordion-collapse collapse" aria-labelledby="menuOne" data-mdb-parent="#accordionNavbar">
				<div class="accordion-body">
					<ul class="list-unstyled">
						<li class="mb-3">
							<a class="navbar-dropdown-link" routerLink="get-auto-quote" routerLinkActive="active">Auto quote</a>
						</li>
						<li>
							<!-- <a class="navbar-dropdown-link" routerLink="get-freight-quote" routerLinkActive="active">Freight quote</a> -->
							<a class="navbar-dropdown-link">Freight quote</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="accordion-item">
			<h2 class="accordion-header" id="menuTwo">
				<button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#menuTwoCollapse" aria-expanded="false" aria-controls="menuTwoCollapse">
					Orders
				</button>
			</h2>
			<div id="menuTwoCollapse" class="accordion-collapse collapse" aria-labelledby="menuTwo" data-mdb-parent="#accordionNavbar">
				<div class="accordion-body">
					<ul class="list-unstyled">
						<li class="mb-3">
							<a class="navbar-dropdown-link" routerLink="my-auto-order" routerLinkActive="active">Auto orders</a>
						</li>
						<li>
							<a class="navbar-dropdown-link">Freight orders</a>
							<!-- <a class="navbar-dropdown-link" routerLink="my-freight-order" routerLinkActive="active">Freight orders</a> -->
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>

</div>

<div class="sidebar-backdrop" [class.show]="!sidebarToggle" (click)="sidebarToggle = true;">
</div>

<div class="profile-content" [ngClass]="{'show': !sidebarToggle, 'hide': sidebarToggle}">

	<div class="container">
		<nav class="navbar navbar-expand-lg pe-3 navbar-light rounded shadow mt-3" style="background-color: #faaf19;">

			<ul class="list-unstyled text-light d-flex align-items-center mb-0">
				<li class="p-3">
					<div (click)="sidebarToggle = !sidebarToggle" class="cursor-pointer">
						<i class="fa fa-align-justify"></i>
					</div>
				</li>
				<li *ngIf="!fullScreenMode" class="p-3">
					<div (click)="openFullscreen()" class="cursor-pointer">
						<i class="fa fa-maximize"></i>
					</div>
				</li>
				<li *ngIf="fullScreenMode" class=" p-3">
					<div (click)="closeFullscreen()" class="cursor-pointer">
						<i class="fa fa-minimize"></i>
					</div>
				</li>
			</ul>

			<ul class="navbar-nav navbar-right ms-auto">
				<li class="dropdown">
					<a class="nav-link dropdown-toggle nav-link-lg nav-link-user" href="#" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
						<img alt="image" src="./assets/images/user.png" width="30px" style="filter: invert(1);" class="rounded">
						<span class="d-sm-none d-lg-inline-block"></span>
					</a>
					<div class="dropdown-menu pullDown" style="min-width: auto !important;">
						<a routerLink="profile" class="dropdown-item has-icon">
							<i class="fas fa-user me-1"></i>
							Profile
						</a>
						<a (click)="logout()" class="dropdown-item has-icon text-danger cursor-pointer">
							<i class="fas fa-sign-out-alt"></i>
							Logout
						</a>
					</div>
				</li>
			</ul>
		</nav>
	</div>

	<ng-content></ng-content>

</div>