<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light py-0">
	<div class="container px-0">

		<div class="toggler-nav">
			<button class="navbar-toggler collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarId" aria-controls="navbarId" aria-expanded="false" aria-label="Toggle navigation">
				<div class="d-block">
					<div class="bar1"></div>
					<div class="bar2"></div>
					<div class="bar3"></div>
				</div>
			</button>


			<a class="navbar-brand me-0" routerLink="home">
				<img src="./assets/logo.svg" loading="lazy" width="55px" />
			</a>
		</div>



		<!-- default desktop navbar -->
		<div class="collapse navbar-collapse" id="navbarId">
			<div class="w-100 d-flex align-items-center justify-content-between">

				<a class="navbar-brand mt-2 mt-lg-0" routerLink="home">
					<img src="./assets/logo.svg" loading="lazy" width="55px" />
				</a>

				<ul class="navbar-nav mb-2 mb-lg-0">
					<!-- <li class="nav-item">
						<a class="nav-link" routerLink="dashboard">Dashboard</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" routerLink="blogs">Blogs</a>
					</li> -->

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" routerLinkActive="active" id="dropdown1" role="button" data-mdb-toggle="dropdown" aria-expanded="false">Get a quote</a>
						<div class="dropdown-menu" aria-labelledby="dropdown1">
							<div class="navbar-dropdown">
								<div class="navbar-dropdown-item">
									<ul class="list-unstyled">
										<li>
											<a class="navbar-dropdown-link" routerLink="get-auto-quote" routerLinkActive="active">Auto quote</a>
										</li>
										<li>
											<!-- <a class="navbar-dropdown-link" routerLink="get-freight-quote" routerLinkActive="active">Freight quote</a> -->
											<a class="navbar-dropdown-link">Freight quote</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" routerLinkActive="active" id="dropdown2" role="button" data-mdb-toggle="dropdown" aria-expanded="false">My quotes</a>
						<div class="dropdown-menu" aria-labelledby="dropdown2">
							<div class="navbar-dropdown">
								<div class="navbar-dropdown-item">
									<ul class="list-unstyled">
										<li>
											<a class="navbar-dropdown-link" routerLink="my-auto-quote" routerLinkActive="active">Auto quote</a>
										</li>
										<li>
											<a class="navbar-dropdown-link">Freight quote</a>
											<!-- <a class="navbar-dropdown-link" routerLink="my-freight-quote" routerLinkActive="active">Freight quote</a> -->
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>

					<li class="nav-item">
						<a class="nav-link" routerLink="accepted">Accepted orders</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" routerLink="orders">My orders</a>
					</li>

					<!-- <li class="nav-item">
						<a class="nav-link" routerLink="invoice">Invoice</a>
					</li> -->
				</ul>

			</div>

		</div>



		<!-- mobile navbar -->
		<div class="mobile-navbar" id="navbarId">
			<div class="container-fluid">


				<!-- <div class="nav-item accordion-item px-4" data-mdb-toggle="collapse" data-mdb-target="#navbarId" aria-controls="navbarId">
					<a routerLink="dashboard" routerLinkActive="active" class="navbar-dropdown-link">Dashboard</a>
				</div>

				<div class="nav-item accordion-item px-4" data-mdb-toggle="collapse" data-mdb-target="#navbarId" aria-controls="navbarId">
					<a routerLink="blogs" routerLinkActive="active" class="navbar-dropdown-link">Blogs</a>
				</div> -->

				<div class="accordion" id="accordionNavbar">
					<div class="accordion-item">
						<h2 class="accordion-header" id="menuOne">
							<button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#menuOneCollapse" aria-expanded="false" aria-controls="menuOneCollapse">
								Get a quote
							</button>
						</h2>
						<div id="menuOneCollapse" class="accordion-collapse collapse" aria-labelledby="menuOne" data-mdb-parent="#accordionNavbar">
							<div class="accordion-body">
								<ul class="list-unstyled">
									<li data-mdb-toggle="collapse" data-mdb-target="#navbarId" aria-controls="navbarId">
										<a class="navbar-dropdown-link" routerLink="get-auto-quote" routerLinkActive="active">Auto quote</a>
									</li>
									<li data-mdb-toggle="collapse" data-mdb-target="#navbarId" aria-controls="navbarId">
										<a class="navbar-dropdown-link">Freight quote</a>
										<!-- <a class="navbar-dropdown-link" routerLink="get-freight-quote" routerLinkActive="active">Freight quote</a> -->
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="accordion" id="accordionNavbar">
						<div class="accordion-item">
							<h2 class="accordion-header" id="menuTwo">
								<button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#menuTwoCollapse" aria-expanded="false" aria-controls="menuTwoCollapse">
									My quotes
								</button>
							</h2>
							<div id="menuTwoCollapse" class="accordion-collapse collapse" aria-labelledby="menuTwo" data-mdb-parent="#accordionNavbar">
								<div class="accordion-body">
									<ul class="list-unstyled">
										<li data-mdb-toggle="collapse" data-mdb-target="#navbarId" aria-controls="navbarId">
											<a class="navbar-dropdown-link" routerLink="my-auto-quote" routerLinkActive="active">Auto quote</a>
										</li>
										<li data-mdb-toggle="collapse" data-mdb-target="#navbarId" aria-controls="navbarId">
											<a class="navbar-dropdown-link" routerLink="my-freight-quote" routerLinkActive="active">Freight quote</a>
											<a class="navbar-dropdown-link">Freight quote</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="nav-item accordion-item px-4" data-mdb-toggle="collapse" data-mdb-target="#navbarId" aria-controls="navbarId">
						<a routerLink="accepted" routerLinkActive="active" class="navbar-dropdown-link">Accepted
							orders</a>
					</div>

					<div class="nav-item accordion-item px-4" data-mdb-toggle="collapse" data-mdb-target="#navbarId" aria-controls="navbarId">
						<a routerLink="orders" routerLinkActive="active" class="navbar-dropdown-link">My order</a>
					</div>

					<!-- <div class="nav-item accordion-item px-4" data-mdb-toggle="collapse" data-mdb-target="#navbarId" aria-controls="navbarId">
						<a routerLink="invoice" routerLinkActive="active" class="navbar-dropdown-link">Invoice</a>
					</div> -->

				</div>
			</div>
		</div>

	</div>
</nav>


<div>
	<ng-content></ng-content>
</div>