<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light py-0">
	<div class="container px-0">

		<div class="toggler-nav">
			<button class="navbar-toggler collapsed" type="button" data-mdb-toggle="collapse"
				data-mdb-target="#navbarId" aria-controls="navbarId" aria-expanded="false"
				aria-label="Toggle navigation">
				<div class="d-block">
					<div class="bar1"></div>
					<div class="bar2"></div>
					<div class="bar3"></div>
				</div>
			</button>


			<a class="navbar-brand me-0" routerLink="home">
				<img src="./assets/logo.svg" loading="lazy" width="55px" />
			</a>
		</div>



		<!-- default desktop navbar -->
		<div class="collapse navbar-collapse" id="navbarId">
			<div class="w-100 d-flex align-items-center justify-content-between">

				<a class="navbar-brand mt-2 mt-lg-0" routerLink="home">
					<img src="./assets/logo.svg" loading="lazy" width="55px" />
				</a>

				<ul class="navbar-nav mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" routerLink="dashboard">Dashboard</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" routerLinkActive="active" id="dropdown1" role="button"
							data-mdb-toggle="dropdown" aria-expanded="false">Get a quote</a>
						<div class="dropdown-menu" aria-labelledby="dropdown1">
							<div class="navbar-dropdown">
								<div class="navbar-dropdown-item">
									<ul class="list-unstyled">
										<li>
											<a class="navbar-dropdown-link" routerLink="get-auto-quote" routerLinkActive="active">Auto quote</a>
										</li>
										<li>
											<a class="navbar-dropdown-link" routerLink="get-freight-quote"
												routerLinkActive="active">Freight quote</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>

					<li class="nav-item">
						<a class="nav-link" routerLink="schedules">Schedules</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" routerLinkActive="active" id="dropdown2" role="button"
							data-mdb-toggle="dropdown" aria-expanded="false">My quotes</a>
						<div class="dropdown-menu" aria-labelledby="dropdown2">
							<div class="navbar-dropdown">
								<div class="navbar-dropdown-item">
									<ul class="list-unstyled">
										<li>
											<a class="navbar-dropdown-link" routerLink="my-auto-quote"
												routerLinkActive="active">Auto quote</a>
										</li>
										<li>
											<a class="navbar-dropdown-link" routerLink="my-freight-quote"
												routerLinkActive="active">Freight quote</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>

					<li class="nav-item">
						<a class="nav-link" routerLink="accepted">Accepted orders</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" routerLink="my-order">My order</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" routerLink="invoice">Invoice</a>
					</li>
				</ul>

			</div>

		</div>



		<!-- mobile navbar -->
		<div class="mobile-navbar" id="navbarId">
			<div class="container-fluid">


				<div class="nav-item accordion-item px-4" data-mdb-toggle="collapse" data-mdb-target="#navbarId"
					aria-controls="navbarId">
					<a routerLink="about-us" routerLinkActive="active" class="navbar-dropdown-link">Dashboard</a>
				</div>

				<div class="accordion" id="accordionNavbar">
					<div class="accordion-item">
						<h2 class="accordion-header" id="menuOne">
							<button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
								data-mdb-target="#menuOneCollapse" aria-expanded="false"
								aria-controls="menuOneCollapse">
								Get a quote
							</button>
						</h2>
						<div id="menuOneCollapse" class="accordion-collapse collapse" aria-labelledby="menuOne"
							data-mdb-parent="#accordionNavbar">
							<div class="accordion-body">
								<ul class="list-unstyled">
									<li data-mdb-toggle="collapse" data-mdb-target="#navbarId" aria-controls="navbarId">
										<a class="navbar-dropdown-link" routerLink="customers/auto/auctions"
											routerLinkActive="active">Auto quote</a>
									</li>
									<li data-mdb-toggle="collapse" data-mdb-target="#navbarId" aria-controls="navbarId">
										<a class="navbar-dropdown-link" routerLink="customers/auto/auctions"
											routerLinkActive="active">Freight quote</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="nav-item accordion-item px-4" data-mdb-toggle="collapse" data-mdb-target="#navbarId"
						aria-controls="navbarId">
						<a routerLink="about-us" routerLinkActive="active" class="navbar-dropdown-link">Schedules</a>
					</div>

					<div class="accordion" id="accordionNavbar">
						<div class="accordion-item">
							<h2 class="accordion-header" id="menuTwo">
								<button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
									data-mdb-target="#menuTwoCollapse" aria-expanded="false"
									aria-controls="menuTwoCollapse">
									Get a quote
								</button>
							</h2>
							<div id="menuTwoCollapse" class="accordion-collapse collapse" aria-labelledby="menuTwo"
								data-mdb-parent="#accordionNavbar">
								<div class="accordion-body">
									<ul class="list-unstyled">
										<li data-mdb-toggle="collapse" data-mdb-target="#navbarId"
											aria-controls="navbarId">
											<a class="navbar-dropdown-link" routerLink="customers/auto/auctions"
												routerLinkActive="active">Auto quote</a>
										</li>
										<li data-mdb-toggle="collapse" data-mdb-target="#navbarId"
											aria-controls="navbarId">
											<a class="navbar-dropdown-link" routerLink="customers/auto/auctions"
												routerLinkActive="active">Freight quote</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="nav-item accordion-item px-4" data-mdb-toggle="collapse" data-mdb-target="#navbarId"
						aria-controls="navbarId">
						<a routerLink="about-us" routerLinkActive="active" class="navbar-dropdown-link">Accepted
							orders</a>
					</div>

					<div class="nav-item accordion-item px-4" data-mdb-toggle="collapse" data-mdb-target="#navbarId"
						aria-controls="navbarId">
						<a routerLink="about-us" routerLinkActive="active" class="navbar-dropdown-link">My order</a>
					</div>

					<div class="nav-item accordion-item px-4" data-mdb-toggle="collapse" data-mdb-target="#navbarId"
						aria-controls="navbarId">
						<a routerLink="about-us" routerLinkActive="active" class="navbar-dropdown-link">Invoice</a>
					</div>

				</div>
			</div>
		</div>

	</div>
</nav>


<div>
	<ng-content></ng-content>
</div>



<!-- <header>

    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Webiste traffic</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-lock fa-fw me-3"></i><span>Password</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-chart-line fa-fw me-3"></i><span>Analytics</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-pie fa-fw me-3"></i><span>SEO</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-chart-bar fa-fw me-3"></i><span>Orders</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-globe fa-fw me-3"></i><span>International</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-building fa-fw me-3"></i><span>Partners</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-calendar fa-fw me-3"></i><span>Calendar</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-users fa-fw me-3"></i><span>Users</span></a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                        class="fas fa-money-bill fa-fw me-3"></i><span>Sales</span></a>
            </div>
        </div>
    </nav>

    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <a class="navbar-brand" href="#">
                <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="25" alt=""
                    loading="lazy" />
            </a>
            <form class="d-none d-md-flex input-group w-auto my-auto">
                <input autocomplete="off" type="search" class="form-control rounded"
                    placeholder='Search (ctrl + "/" to focus)' style="min-width: 225px" />
                <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
            </form>

            <ul class="navbar-nav ms-auto d-flex flex-row">
                <li class="nav-item dropdown">
                    <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
                        role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bell"></i>
                        <span class="badge rounded-pill badge-notification bg-danger">1</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Some news</a></li>
                        <li><a class="dropdown-item" href="#">Another news</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link me-3 me-lg-0" href="#">
                        <i class="fas fa-fill-drip"></i>
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#">
                        <i class="fab fa-github"></i>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdown"
                        role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="united kingdom flag m-0"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#"><i class="united kingdom flag"></i>English
                                <i class="fa fa-check text-success ms-2"></i></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="poland flag"></i>Polski</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="china flag"></i>中文</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="japan flag"></i>日本語</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="germany flag"></i>Deutsch</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="france flag"></i>Français</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="spain flag"></i>Español</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="russia flag"></i>Русский</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="portugal flag"></i>Português</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                        id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle"
                            height="22" alt="" loading="lazy" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">My profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main style="margin-top: 58px">
    <div class="container pt-4">
        <ng-content></ng-content>
    </div>
</main> -->