<app-main-bar></app-main-bar>


<app-news-carousel></app-news-carousel>



<section id="car-shipping">
    <app-section-title title="Car Shipping"></app-section-title>

    <div class="container">
        <div class="row">
            <div class="mx-auto col-11 col-sm-10 col-md-4">
                <div class="block">
                    <img src="./assets/images/shipping/car-hauler_SuperDispatch.jpg" alt="Service image"
                        class="img-fluid" height="300px">

                    <h5 class="mt-4 mb-2">Open car hauler</h5>
                    <p>
                        <strong>
                            <span>|&nbsp;</span>
                        </strong>
                        Open car haulers are typically composed of a flatbed or a series of interconnected decks that
                        are equipped with ramps or hydraulic lift systems for loading and unloading vehicles.
                    </p>
                    <a class="block-link" routerLink="carriers/auto/open-car-haulers">Read more</a>
                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-4">
                <div class="block">
                    <img src="./assets/images/shipping/truck.jpg" alt="Service image" class="img-fluid" height="300px">

                    <h5 class="mt-4 mb-2">Enclosed Car Haulers</h5>
                    <p>
                        <strong>
                            <span>|&nbsp;</span>
                        </strong>
                        Transportation of cars on enclosed trailers versus open trailers is a common debate among car
                        owners and transportation companies. Each method has its own advantages and disadvantages which
                        should be considered before making a decision.
                    </p>
                    <a class="block-link" routerLink="carriers/auto/enclosed-car-haulers">Read more</a>
                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-4">
                <div class="block">
                    <img src="./assets/images/shipping/Untitled-design-7.png" alt="Service image" class="img-fluid"
                        height="300px">

                    <h5 class="mt-4 mb-2">Dealerships</h5>
                    <p>
                        <strong>
                            <span>|&nbsp;</span>
                        </strong>
                        Our brokerage model allows us to negotiate competitive rates with carriers passing on the
                        savings to you. By minimizing transportation costs you can allocate your budget to other
                        critical aspects of your business
                    </p>
                    <a class="block-link" routerLink="customers/auto/dealerships">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>








<div class="my-5 bg-img jarallax"
    style="background-image: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url(./assets/images/modern-dark.jpg);">
    <div class="container">

        <div class="row">
            <div class="col-11 col-sm-8 col-md-6 mx-auto py-4 d-flex align-items-center">
                <img src="./assets/images/dashboard.jpg" class="w-100 rounded" alt="Service image">
            </div>
            <div class="col-11 col-sm-8 col-md-6 mx-auto p-5 ms-auto d-flex align-items-center flex-column h-100">
                <h3 class="text-light">Original Equipment Manufacturers (OEMs)</h3>
                <p class="text-light mt-4">These manufacturers produce products or components that are used as parts in
                    another company's finished product. For example, a car manufacturer may purchase engines from an OEM
                    to use in their vehicles.</p>

                <a class="btn-theme btn-inline me-auto" routerLink="customers/freight/manufacturers-and-warehouses">Read more</a>
            </div>
        </div>

    </div>
</div>






<section id="freight-shipping">
    <app-section-title title="Freight Shipping"></app-section-title>

    <div class="container">
        <div class="row">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="img-block">
                    <img src="./assets/images/shipping/Hyster.jpg" alt="Service image">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="text-block">
                    <h4>Pre-loading preparation</h4>

                    <p>This step involves planning and preparing the logistics of loading the goods into the dry vans.
                        It includes determining the type and quantity of goods to be loaded calculating the weight and
                        dimensions of the goods and ensuring that they comply with the weight and size limits of the dry
                        van.</p>

                    <a routerLink="carriers/freight/box-trucks" class="btn-theme">Read more</a>
                </div>
            </div>
        </div>
        <div class="row sm-reverse">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="img-block">
                    <img style="border-radius: 50% 50% 0 50%;" src="./assets/images/shipping/Intermodal-Services-1-1024x614.jpg"
                        alt="Service image">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="text-block">
                    <h4>Temperature Control</h4>

                    <p>Refrigerated trailers are designed to maintain a specific temperature range typically between -20
                        to 70 degrees Fahrenheit. This allows for the safe transport of perishable goods such as fresh
                        produce frozen foods pharmaceuticals and other temperature-sensitive products.</p>

                    <a routerLink="carriers/freight/containers" class="btn-theme">Read more</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="img-block">
                    <img style="border-radius: 50% 50% 50% 0;" src="./assets/images/shipping/Impact-Transportation-forklift.jpg"
                        alt="Service image">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="text-block">
                    <h4>Cargo Security</h4>

                    <p>Since flatbed trailers do not have sides or roofs cargo security is a major concern. Customers
                        must use proper tie-down equipment such as straps chains or tarps to secure the load effectively
                        to the trailer and prevent any shift or damage during transportation.</p>

                    <a routerLink="carriers/auto/flatbed-car-trailers" class="btn-theme">Read more</a>
                </div>
            </div>
        </div>
        <div class="row sm-reverse">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="img-block">
                    <img style="border-radius: 50% 50% 0 50%;" src="./assets/images/shipping/truck.jpg"
                        alt="Service image">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6">
                <div class="text-block">
                    <h4>Oversized or over-dimensional items</h4>

                    <p>Step decks provide a lower deck height allowing for the transportation of tall or high-clearance
                        items such as construction equipment machinery or large industrial components.</p>

                    <a routerLink="carriers/freight/conestoga" class="btn-theme">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>