<app-bread-crumbs [img_url]="'box.jpg'">
    <div class="d-flex align-items-center h-100 w-100">
        <div class="row w-100">
            <div class="col-11 col-10 col-md-7 col-lg-6">
                <h1 class="text-light">{{ 'carriers.freight.box-trucks.title' | translate }}</h1>
                <p class="text-light my-4">{{ 'carriers.freight.box-trucks.text' | translate }}</p>

                <a routerLink="/app/services/freight/how-much-does-it-cost/products" class="btn-theme">
                    <span>{{ 'form.click' | translate }}</span>
                    <span>Free Form</span>
                    Free Form
                </a>
            </div>
        </div>
    </div>
</app-bread-crumbs>





<div class="container mb-5 pb-5">

    <div class="row">
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <img src="./assets/images/carries/Box_T/1.jpg" alt="You Tube link" class="img-fluid rounded">
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.freight.box-trucks.theme1' | translate }}</h3>
                    <p>{{ 'carriers.freight.box-trucks.text1' | translate }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row sm-reverse">
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <img src="./assets/images/carries/Box_T/2.jpg" alt="You Tube link" class="img-fluid rounded">
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.freight.box-trucks.theme2' | translate }}</h3>
                    <p>{{ 'carriers.freight.box-trucks.text2' | translate }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <img src="./assets/images/carries/Box_T/3.jpg" alt="You Tube link" class="img-fluid rounded">
            </div>
        </div>
        <div class="col-11 col-sm-10 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.freight.box-trucks.theme3' | translate }}</h3>
                    <p>{{ 'carriers.freight.box-trucks.text3' | translate }}</p>
                </div>
            </div>
        </div>
    </div>

</div>










<div class="container my-5 py-5">
    <app-section-title [title]="'carriers.freight.box-trucks.section1' | translate"></app-section-title>

    <div class="text-list">
        <ul>
            <li>{{ 'carriers.freight.box-trucks.list1' | translate }}</li>
            <li>{{ 'carriers.freight.box-trucks.list2' | translate }}</li>
            <li>{{ 'carriers.freight.box-trucks.list3' | translate }}</li>
            <li>{{ 'carriers.freight.box-trucks.list4' | translate }}</li>
        </ul>
    </div>
</div>