<app-bread-crumbs [img_url]="'flatbate_fre1.jpg'">
    <div class="row w-100">
        <div class="col-11 col-10 col-md-7 col-lg-6 mx-auto text-center">
            <h1 data-aos="fade-up" data-aos-duration="2000" class="text-light">{{ 'carriers.freight.flatbed.title' | translate }}</h1>
            <p data-aos="fade-up" data-aos-duration="2400" class="text-light my-4">{{ 'carriers.freight.flatbed.text' | translate }}</p>
            <a data-aos="fade-up" data-aos-duration="2800" routerLink="/app/services/freight/how-much-does-it-cost/products" class="btn-theme">
                <span>{{ 'form.click' | translate }}</span>
                <span>Join US</span>
                Join Us
            </a>
        </div>
    </div>
</app-bread-crumbs>









<div class="container my-5 py-5">
    <app-section-title title="{{ 'carriers.freight.flatbed.section1' | translate }}"></app-section-title>

    <div class="row">
        <div data-aos="fade-right" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.freight.flatbed.theme1' | translate }}</h3>
                    <p>{{ 'carriers.freight.flatbed.text1' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-left" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100 rounded">
                <img src="./assets/images/carries/Flatbate_freight/1.jpg" alt="DPL service image"
                    class="img-fluid w-100 rounded">
            </div>
        </div>
    </div>

    <div class="row sm-reverse">
        <div data-aos="fade-left" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.freight.flatbed.theme2' | translate }}</h3>
                    <p>{{ 'carriers.freight.flatbed.text2' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-right" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100 rounded">
                <img src="./assets/images/carries/Flatbate_freight/2.jpg" alt="DPL service image"
                    class="img-fluid w-100 rounded">
            </div>
        </div>
    </div>

    <div class="row">
        <div data-aos="fade-right" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.freight.flatbed.theme3' | translate }}</h3>
                    <p>{{ 'carriers.freight.flatbed.text3' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-left" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100 rounded">
                <img src="./assets/images/carries/Flatbate_freight/3.jpg" alt="DPL service image"
                    class="img-fluid w-100 rounded">
            </div>
        </div>
    </div>

</div>



<div class="container my-5 pb-5">
    <app-section-title title="{{ 'carriers.freight.flatbed.section2' | translate }}"></app-section-title>


    <!-- Tabs navs -->
    <ul data-aos="fade-up" data-aos-duration="2000" class="nav nav-tabs tab-list justify-content-center mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab"
                aria-controls="ex1-tabs-1" aria-selected="true">
                {{ 'carriers.freight.flatbed.tab1' | translate }}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab"
                aria-controls="ex1-tabs-2" aria-selected="false">
                {{ 'carriers.freight.flatbed.tab2' | translate }}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="ex1-tab-3" data-mdb-toggle="tab" href="#ex1-tabs-3" role="tab"
                aria-controls="ex1-tabs-3" aria-selected="false">
                {{ 'carriers.freight.flatbed.tab3' | translate }}</a>
        </li>
    </ul>
    <!-- Tabs navs -->

    <!-- Tabs content -->
    <div data-aos="fade-up" data-aos-duration="2300" class="tab-content text-dark" id="ex1-content">
        <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
            {{ 'carriers.freight.flatbed.tabt1' | translate }}
        </div>
        <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
            {{ 'carriers.freight.flatbed.tabt2' | translate }}
        </div>
        <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
            {{ 'carriers.freight.flatbed.tabt3' | translate }}
        </div>
    </div>
    <!-- Tabs content -->
</div>