<section id="reviews">

    <app-section-title title="Reviews"></app-section-title>

    <div class="container">
        <div class="swiper">
            <div class="swiper-wrapper">

                <div *ngFor="let item of [1,2,3,4,5,6,7]" class="swiper-slide">
                    <a routerLink="/app/customers/auto/online-car-buyers" class="w-100">
                        <img src="../../../../assets/images/e.png" class="w-100" alt="Add images">
                    </a>
                </div>

            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</section>