<app-bread-crumbs img_url="car.jpg">
    <div class="container">
        <div class="h-100 d-f-a-c-j-c flex-column text-center">
            <h2 class="text-light">{{ 'carriers.freight.reefers.title1' | translate }}</h2>
            <p class="text-light w-50">{{ 'carriers.freight.reefers.text1' | translate }}</p>
            <div class="d-flex w-auto">
                <a routerLink="signup" class="btn-theme me-3">Sign Up</a>
                <a routerLink="/app/services/freight/how-much-does-it-cost/products" class="btn-theme">Free Form</a>
            </div>
        </div>
    </div>
</app-bread-crumbs>






<div class="container">
    <app-section-title [title]="'carriers.freight.reefers.title2' | translate "></app-section-title>

    <div class="row">
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-box"></i>
                </div>
                <div class="text">
                    <h4>{{ 'carriers.freight.reefers.service1' | translate }}</h4>
                    <p>{{ 'carriers.freight.reefers.paragraph1' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-box-open"></i>
                </div>
                <div class="text">
                    <h4>{{ 'carriers.freight.reefers.service2' | translate }}</h4>
                    <p>{{ 'carriers.freight.reefers.paragraph2' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-truck-ramp-box"></i>
                </div>
                <div class="text">
                    <h4>{{ 'carriers.freight.reefers.service3' | translate }}</h4>
                    <p>{{ 'carriers.freight.reefers.paragraph3' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-gauge-high"></i>
                </div>
                <div class="text">
                    <h4>{{ 'carriers.freight.reefers.service4' | translate }}</h4>
                    <p>{{ 'carriers.freight.reefers.paragraph4' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-boxes-stacked"></i>
                </div>
                <div class="text">
                    <h4>{{ 'carriers.freight.reefers.service5' | translate }}</h4>
                    <p>{{ 'carriers.freight.reefers.paragraph5' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa-solid fa-stopwatch"></i>
                </div>
                <div class="text">
                    <h4>{{ 'carriers.freight.reefers.service6' | translate }}</h4>
                    <p>{{ 'carriers.freight.reefers.paragraph6' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- f.a.q -->
<div class="container mb-5">
    <app-section-title title="F.A.Q"></app-section-title>
    <div class="faq">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{ 'carriers.freight.reefers.f-question1' | translate }}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ 'carriers.freight.reefers.f-answer1' | translate }}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        {{ 'carriers.freight.reefers.f-question2' | translate }}
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ 'carriers.freight.reefers.f-answer2' | translate }}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        {{ 'carriers.freight.reefers.f-question3' | translate }}
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ 'carriers.freight.reefers.f-answer3' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>