<app-bread-crumbs [img_url]="'step.jpg'">
    <div class="d-flex align-items-center h-100">
        <div class="w-100">
            <h1 class="text-light">{{ 'carriers.freight.step-deck.title' | translate }}</h1>
            <p class="text-light my-4">{{ 'carriers.freight.step-deck.text' | translate }}</p>

            <a routerLink="/app/services/freight/how-much-does-it-cost/products" class="btn-theme">Lorem ipsum</a>

        </div>
    </div>
</app-bread-crumbs>







<div class="container mb-5 pb-5">
    <app-section-title [title]="'carriers.freight.step-deck.title' | translate"></app-section-title>

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.freight.step-deck.theme1' | translate }}</h3>
                    <p>{{ 'carriers.freight.step-deck.text1' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <img src="./assets/images/carries/Step_Deck/1.jpg" alt="" class="img-fluid w-100 rounded">
            </div>
        </div>
    </div>


    <div class="row sm-reverse">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.freight.step-deck.theme2' | translate }}</h3>
                    <p>{{ 'carriers.freight.step-deck.text2' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Step_Deck/2.jpg" alt="You Tube link" class="img-fluid rounded">
        </div>
    </div>

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.freight.step-deck.theme3' | translate }}</h3>
                    <p>{{ 'carriers.freight.step-deck.text3' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Step_Deck/3.jpg" alt="" class="img-fluid rounded">
        </div>
    </div>


    <div class="row sm-reverse">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.freight.step-deck.theme4' | translate }}</h3>
                    <p>{{ 'carriers.freight.step-deck.text4' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Step_Deck/4.jpg" alt="You Tube link" class="img-fluid rounded">
        </div>
    </div>

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.freight.step-deck.theme5' | translate }}</h3>
                    <p>{{ 'carriers.freight.step-deck.text5' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Step_Deck/5.jpg" alt="" class="img-fluid rounded">
        </div>
    </div>

</div>






<div class="container mb-5 pb-5">
    <app-section-title [title]="'carriers.freight.step-deck.section2' | translate"></app-section-title>

    <div class="row w-100">
        <div class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
            <i class="fa fa-road fa-3x mb-3 text-theme"></i>
            <h3>{{ 'carriers.freight.step-deck.theme6' | translate }}</h3>
            <p>{{ 'carriers.freight.step-deck.text6' | translate }}</p>
        </div>

        <div class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
            <i class="fa fa-ship fa-3x mb-3 text-theme"></i>
            <h3>{{ 'carriers.freight.step-deck.theme7' | translate }}</h3>
            <p>{{ 'carriers.freight.step-deck.text7' | translate }}</p>
        </div>
        
        <div class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
            <i class="fa fa-road fa-3x mb-3 text-theme"></i>
            <h3>{{ 'carriers.freight.step-deck.theme8' | translate }}</h3>
            <p>{{ 'carriers.freight.step-deck.text8' | translate }}</p>
        </div>

        <div class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
            <i class="fa fa-ship fa-3x mb-3 text-theme"></i>
            <h3>{{ 'carriers.freight.step-deck.theme9' | translate }}</h3>
            <p>{{ 'carriers.freight.step-deck.text9' | translate }}</p>
        </div>
    </div>
</div>
