<div class="container my-5 rounded bg-light shadow p-3">
    <div id="invoice" class="p-3">
        <div class="d-flex align-items-center justify-content-between mb-5">
            <img style="width: 80px;" src="./assets/logo.jpg" alt="">
            <h2 class="mb-0">Invoice</h2>
        </div>

        <div class="row mb-5">
            <div class="col-6">
                <h4><b>BILLED TO:</b></h4>
                <p class="mb-0">Diamond Pro Logistics</p>
                <p class="mb-0">info@dplinc.co</p>
                <p class="mb-0">+1 (800) 728-1735</p>
                <p class="mb-0">1310 Turk St, San Francisco, CA 94115, USA</p>
            </div>

            <div class="col-6 text-end">
                <p class="mb-0">Invoice No: {{ orderInvoice().custom_id }}</p>
                <p>{{ orderInvoice().date | date:'dd.mm.YYYY' }}</p>
            </div>
        </div>

        <table class="table table-bordered table-striped mb-5">
            <thead>
                <tr>
                    <th>Auto</th>
                    <th>Make</th>
                    <th>Type</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ orderInvoice().model }}</td>
                    <td>{{ orderInvoice().make }}</td>
                    <td>{{ orderInvoice().type }}</td>
                    <td>{{ orderInvoice().total_price }}</td>
                </tr>
            </tbody>
        </table>

        <h2 class="text-center mb-5">Thank you!</h2>
    </div>
</div>

<div class="container text-center pe-0 mb-5">
    <button type="button" (click)="exportToPDF()" class="btn-success btn">
        <i class="fa fa-print"></i>
        Print
    </button>
</div>