<app-bread-crumbs [img_url]="'Drop.jpg'">
    <div class="d-flex align-items-center h-100 w-100">
        <div class="row w-100">
            <div class="col-11 col-10 col-md-7 col-lg-6">
                <h1 class="text-light">{{ 'carriers.freight.drop.title' | translate }}</h1>
                <p class="text-light my-4">{{ 'carriers.freight.drop.text' | translate }}
                    <a routerLink="/app/services/freight/how-much-does-it-cost/products"
                        class="btn btn-outline-light btn-floating ms-5 py-2">
                        <i style="font-size: 16px;" class="fa fa-arrow-right"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</app-bread-crumbs>







<div class="container my-5 py-5">
    <app-section-title [title]="'carriers.freight.drop.section1' | translate"></app-section-title>

    <div class="row">
        <div class="col-11 col-sm-7 col-md-6 col-lg-5 col-xl-4 mx-auto mt-5 text-center">
            <h4>{{ 'carriers.freight.drop.theme1' | translate }}</h4>
            <p>{{ 'carriers.freight.drop.text1' | translate }}</p>

            <h4 class="mt-5">{{ 'carriers.freight.drop.theme2' | translate }}</h4>
            <p>{{ 'carriers.freight.drop.text2' | translate }}</p>

            <h4 class="mt-5">{{ 'carriers.freight.drop.theme3' | translate }}</h4>
            <p>{{ 'carriers.freight.drop.text3' | translate }}</p>

            <h4 class="mt-5">{{ 'carriers.freight.drop.theme4' | translate }}</h4>
            <p>{{ 'carriers.freight.drop.text4' | translate }}</p>
        </div>

        <!-- <div class="line"></div> -->
        <!-- <hr> -->

        <div class="col-11 col-sm-7 col-md-6 col-lg-5 col-xl-4 mx-auto mt-5 text-center">
            <h4>{{ 'carriers.freight.drop.theme5' | translate }}</h4>
            <p>{{ 'carriers.freight.drop.text5' | translate }}</p>

            <h4 class="mt-5">{{ 'carriers.freight.drop.theme6' | translate }}</h4>
            <p>{{ 'carriers.freight.drop.text6' | translate }}</p>

            <h4 class="mt-5">{{ 'carriers.freight.drop.theme7' | translate }}</h4>
            <p>{{ 'carriers.freight.drop.text7' | translate }}</p>

            <h4 class="mt-5">{{ 'carriers.freight.drop.theme8' | translate }}</h4>
            <p>{{ 'carriers.freight.drop.text8' | translate }}</p>
        </div>
    </div>
</div>






<!-- text list -->
<div class="container my-5 py-5">
    <div class="row">
        <div class="col-11 col-sm-10 col-md-8 col-lg-6 mx-auto">
            <p class="text-center">{{ 'carriers.freight.drop.fulltext' | translate }}</p>
        </div>
    </div>
</div>






<!-- f.a.q -->
<div class="container mb-5 pb-5">
    <app-section-title title="{{ 'carriers.freight.drop.faq' | translate }}"></app-section-title>
    <div class="faq">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{ 'carriers.freight.drop.question1' | translate }}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ 'carriers.freight.drop.answer1' | translate }}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        {{ 'carriers.freight.drop.question2' | translate }}
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ 'carriers.freight.drop.answer2' | translate }}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        {{ 'carriers.freight.drop.question3' | translate }}
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ 'carriers.freight.drop.answer3' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>