<div id="sign-up">
    <div class="container">

        <div class="row my-5">
            <div class="col-4 col-sm-3 col-md-3 col-lg-2 mx-auto">
                <img class="w-100" src="../../../assets/logo.svg" alt="Dpl brand logo">
            </div>
        </div>

        <h3 class="text-center">Admin panel</h3>

        <div class="row">
            <div class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">

                <form [formGroup]="loginFormGroup">

                    <mat-form-field class="w-100 mb-2 mt-5">
                        <mat-label>Login</mat-label>
                        <input type="text" matInput formControlName="login">
                    </mat-form-field>

                    <mat-form-field class="w-100 mb-2">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password">
                    </mat-form-field>

                    <button class="btn btn-warning w-100" (click)="send()">Login</button>
                </form>

            </div>
        </div>

    </div>
</div>