<div class="container my-5 py-5">
    <div class="row">
        <div class="mx-auto col-11 col-sm-10 col-md-8 col-lg-6">
            <form #f="ngForm">
                <h3 class="text-center mb-4">{{ 'form.userInfo' | translate }}</h3>

                <mat-form-field class="w-100">
                    <mat-label>{{ 'form.pickup' | translate }}</mat-label>
                    <input type="text" placeholder="City or ZIP" aria-label="Number" matInput ngModel
                        #inputFrom (input)="findCityByZipCodeFrom(inputFrom.value)" [matAutocomplete]="from"
                        name="from" required minlength="5">

                    <mat-autocomplete #from="matAutocomplete">
                        <mat-option
                            [value]="searchResultFrom().city + ', ' + searchResultFrom().state + ' ' + inputFrom.value">
                            {{ searchResultFrom().city }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>{{ 'form.destination' | translate }}</mat-label>
                    <input type="text" placeholder="City or ZIP" aria-label="Number" matInput #inputTo
                        (input)="findCityByZipCodeTo(inputTo.value)" [matAutocomplete]="to" ngModel
                        name="to" required minlength="5">

                    <mat-autocomplete #to="matAutocomplete">
                        <mat-option
                            [value]="searchResultTo().city + ', ' + searchResultTo().state + ' ' + inputTo.value">
                            {{ searchResultTo().city }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>{{ 'form.first_name' | translate }}</mat-label>
                    <input type="text" matInput ngModel required minlength="3" name="first_name">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>{{ 'form.last_name' | translate }}</mat-label>
                    <input type="text" matInput ngModel required minlength="3" name="last_name">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>{{ 'form.phone' | translate }}</mat-label>
                    <input type="text" matInput ngModel required minlength="3" name="phone">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>{{ 'form.email' | translate }}</mat-label>
                    <input type="email" matInput ngModel required minlength="3" name="email">
                </mat-form-field>

            </form>
        </div>
    </div>





    <div class="text-center mt-5">
        <a routerLink="/app/services/freight/how-much-does-it-cost/truck-container" class="btn btn-secondary">{{ 'form.back' | translate }}</a>
        <a (click)="send(f)" routerLink="/app/services/freight/how-much-does-it-cost/result" class="btn btn-primary ms-2">{{ 'form.next' | translate }}</a>
    </div>
</div>