<div class="container py-4">
    <h3 class="text-center">Get Auto Quote</h3>

    <form #f="ngForm" (submit)="send(f)">
        <div class="row my-5">

            <!-- from -->
            <div class="col-11 col-sm-10 col-md-4 col-lg-4 col-xl-3 mx-auto mt-3">
                <mat-form-field class="w-100">
                    <mat-label>{{ 'form.from' | translate }}</mat-label>
                    <input type="text" matInput ngModel name="from" #inputFrom (input)="findCityByZipCodeFrom(inputFrom.value)" [matAutocomplete]="from" required minlength="3">

                    <mat-autocomplete #from="matAutocomplete">
                        <mat-option [value]="searchResultFrom().city + ', ' + searchResultFrom().state + ' ' + inputFrom.value">
                            {{ searchResultFrom().city }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <!-- to -->
            <div class="col-11 col-sm-10 col-md-4 col-lg-4 col-xl-3 mx-auto mt-3">
                <mat-form-field class="w-100">
                    <mat-label>{{ 'form.to' | translate }}</mat-label>
                    <input type="text" matInput ngModel name="to" #inputTo (input)="findCityByZipCodeTo(inputTo.value)" [matAutocomplete]="to" required minlength="3">

                    <mat-autocomplete #to="matAutocomplete">
                        <mat-option [value]="searchResultTo().city + ', ' + searchResultTo().state + ' ' + inputTo.value">
                            {{ searchResultTo().city }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <!-- datepicker -->
            <div class="col-11 col-sm-10 col-md-4 col-lg-4 col-xl-3 mx-auto mt-3">
                <mat-form-field class="w-100">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" ngModel name="date">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <!-- truck type -->
            <div class="col-11 col-sm-10 col-md-4 col-lg-4 col-xl-3 mx-auto mt-3 d-flex align-items-center justify-content-start">
                <div class="radio-btn">
                    <input ngModel type="radio" class="form-check-input" name="truck_type" value="open" id="open" required>
                    <label class="form-check-label" for="open">
                        <img src="./assets/truck2.png" width="30px" alt="">&nbsp;{{ 'form.open' | translate }}
                    </label>
                </div>
                <div class="radio-btn ms-3">
                    <input ngModel type="radio" class="form-check-input" name="truck_type" value="enclosed" id="enclosed" required>
                    <label class="form-check-label" for="enclosed">
                        <img src="./assets/truck1.png" width="30px" alt="">&nbsp;{{ 'form.enclosed' | translate }}
                    </label>
                </div>
            </div>

            <!-- car year -->
            <div class="col-11 col-sm-10 col-md-4 col-lg-4 col-xl-3 mx-auto mt-3">
                <mat-form-field class="w-100">
                    <mat-label>{{ 'form.year' | translate }}</mat-label>
                    <input type="text" matInput ngModel name="year" required minlength="3">
                </mat-form-field>
            </div>

            <!-- car make -->
            <div class="col-11 col-sm-10 col-md-4 col-lg-4 col-xl-3 mx-auto mt-3">
                <mat-form-field class="w-100">
                    <mat-label>{{ 'form.make' | translate }}</mat-label>
                    <input type="text" matInput ngModel name="make" #makeInput [matAutocomplete]="makeSelect" required minlength="3">

                    <mat-autocomplete #makeSelect="matAutocomplete">
                        <mat-option *ngFor="let option of (model | async) | search:makeInput.value" [value]="option.name">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <!-- car model -->
            <div class="col-11 col-sm-10 col-md-4 col-lg-4 col-xl-3 mx-auto mt-3">
                <mat-form-field class="w-100">
                    <mat-label>{{ 'form.model' | translate }}</mat-label>
                    <input type="text" matInput ngModel name="model" #modelInput [matAutocomplete]="carSelect" required minlength="3">

                    <mat-autocomplete #carSelect="matAutocomplete">
                        <mat-option *ngFor="let option of (car | async) | search:modelInput.value" [value]="option.Model">
                            {{option.Model}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <!-- car type -->
            <div class="col-11 col-sm-10 col-md-4 col-lg-4 col-xl-3 mx-auto mt-3">
                <mat-form-field class="w-100">
                    <mat-label>{{ 'form.type' | translate }}</mat-label>
                    <input type="text" matInput ngModel name="type" #typeInput [matAutocomplete]="typeSelect" required minlength="3">

                    <mat-autocomplete #typeSelect="matAutocomplete">
                        <mat-option *ngFor="let option of (type | async) | search:typeInput.value" [value]="option.name">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="col-11 col-sm-10 col-md-12 text-center mt-3">
                <!-- <a routerLink="/user/dashboard" class="btn">CANCEL</a> -->
                <button class="btn btn-secondary me-2" type="reset">Reset</button>
                <button class="btn btn-warning" type="submit">Submit</button>
            </div>

        </div>
    </form>

</div>