<div class="fixed-buttons">
	<ul class="list-unstyled mb-0">
		<li>
			<a target="_blank" href="https://www.google.com/maps/place/1310+Turk+St+%23208,+San+Francisco,+CA+94115,+USA/@37.7808353,-122.4333834,17z/data=!3m1!4b1!4m6!3m5!1s0x808580bb99565951:0xccbca122559a363b!8m2!3d37.7808311!4d-122.4308085!16s%2Fg%2F11tmvl21mp?entry=ttu">
				<i class="fa fa-location-dot"></i>
			</a>
		</li>
		<li>
			<a target="_blank" href="tel:+18007281735">
				<i class="fa fa-phone"></i>
			</a>
		</li>
		<li>
			<a target="_blank" href="mailto:info@dplinc.co">
				<i class="fa fa-envelope"></i>
			</a>
		</li>
	</ul>
</div>


<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body p-0">

				<div class="signUp w-100">
					<div class="text-center py-5">

						<div class="d-f-a-c-j-c">
							<img width="80px" src="../../../../assets/logo.svg" alt="Diamond Pro Logistics logo">
							<div class="ms-2 text-start">
								<h4 class="mb-1 fw-bold">Diamond</h4>
								<h4 class="mb-0 fw-bold">Pro Logistics</h4>
							</div>
						</div>

						<h3 class="px-4 my-4">Save up to 5% on<br />your quote?</h3>

						<form [formGroup]="loginFormGroup" (submit)="send()">
							<input formControlName="email" placeholder="Email" />

							<div class="d-flex align-items-center mt-3">
								<button class="btn me-3 w-100" (click)="_router.navigateByUrl('/auth/sign-up')" type="button" data-mdb-dismiss="modal">Sign Up</button>
								<button class="btn btn-warning w-100" type="submit" data-mdb-dismiss="modal">Sign In</button>
							</div>
						</form>

						<div class="social-container mt-5 mb-2">
							<a target="_blank" href="https://twitter.com/dplinco" class="twitter social">
								<i class="fab fa-twitter"></i>
							</a>
							<a target="_blank" href="https://www.facebook.com/profile.php?id=100095577330257" class="facebook social">
								<i class="fab fa-facebook"></i>
							</a>
							<a target="_blank" href="https://www.instagram.com/dplinc.co/" class="instagram social">
								<i class="fab fa-instagram"></i>
							</a>
							<a target="_blank" href="https://www.youtube.com/channel/UC1pnuqU8XjYi5c8d3gv42GA" class="youtube social">
								<i class="fab fa-youtube"></i>
							</a>
						</div>
						<span>follow us</span>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>