<div class="fixed-buttons">
	<ul class="list-unstyled mb-0">
		<li>
			<a target="_blank" href="https://www.google.com/maps/place/1310+Turk+St+%23208,+San+Francisco,+CA+94115,+USA/@37.7808353,-122.4333834,17z/data=!3m1!4b1!4m6!3m5!1s0x808580bb99565951:0xccbca122559a363b!8m2!3d37.7808311!4d-122.4308085!16s%2Fg%2F11tmvl21mp?entry=ttu">
				<i class="fa fa-location-dot"></i>
			</a>
		</li>
		<li>
			<a target="_blank" href="tel:+18007281735">
				<i class="fa fa-phone"></i>
			</a>
		</li>
		<li>
			<a target="_blank" href="mailto:info@dplinc.co">
				<i class="fa fa-envelope"></i>
			</a>
		</li>
	</ul>
</div>


<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-xl ">
		<div class="modal-content">
			<div class="modal-body p-0">

				<div class="signUp w-100" id="signUp">
					<div class="form-container sign-in-container">
						<form [formGroup]="loginFormGroup" (submit)="send()">
							<h1>Sign in</h1>
							<div class="social-container">
								<a target="_blank" href="https://twitter.com/dplinco" class="twitter social">
									<i class="fab fa-twitter"></i>
								</a>
								<a target="_blank" href="https://www.facebook.com/profile.php?id=100095577330257" class="facebook social">
									<i class="fab fa-facebook"></i>
								</a>
								<a target="_blank" href="https://www.instagram.com/dplinc.co/" class="instagram social">
									<i class="fab fa-instagram"></i>
								</a>
								<a target="_blank" href="https://www.youtube.com/channel/UC1pnuqU8XjYi5c8d3gv42GA" class="youtube social">
									<i class="fab fa-youtube"></i>
								</a>
							</div>
							<span>follow us</span>

							<input formControlName="first_name" placeholder="First name" class="mt-5" />
							<input formControlName="email" placeholder="Email" />
							<button [disabled]="loginFormGroup.invalid" type="submit" data-mdb-dismiss="modal">Sign In</button>

							<a class="mt-5 registr-link" routerLink="/auth/sign-up" data-mdb-dismiss="modal">Registration</a>
						</form>

					</div>
					<div class="overlay-container">
						<div class="overlay">
							<div class="overlay-panel overlay-right">
								<h1 class="text-light">Hello, Friend!</h1>
								<p class="text-light fw-normal">Enter your personal details and start journey with us</p>
								<button (click)="_router.navigateByUrl('/auth/sign-up')" class="ghost" data-mdb-dismiss="modal">Sign Up</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>