#block-carousel {
    position: relative;


    .swiper-slide {
        height: auto !important;

        .card {
            height: 100%;

            .card-img-top {
                height: 230px;
            }
        }
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        top: 102%;
    }
}