<app-bread-crumbs [img_url]="'intermodal.jpg'">
    <div class="w-100">
        <h1 data-aos="fade-up" data-aos-duration="2000" class="text-light">{{ 'service.freight.how-does.title' |
            translate }}</h1>
        <p data-aos="fade-up" data-aos-duration="2500" class="text-light my-4">{{ 'service.freight.how-does.text' |
            translate }}</p>
    </div>
</app-bread-crumbs>






<!-- card -->
<section id="block-carousel-freight">
    <div class="container mb-5">
        <app-section-title [title]="'service.freight.how-does.section1' | translate"></app-section-title>


        <div class="swiper" data-aos="fade-left" data-aos-duration="1500" data-aos-anchor-placement="center-bottom">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="card bg-theme">
                        <img loading="lazy" class="card-img-top" src="./assets/images/AdobeStock_111940874.jpeg"
                            alt="DPL service image">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="text-light">{{ 'service.freight.how-does.theme1' | translate }}</h4>
                            </div>
                            <div class="card-text">
                                <p class="text-light mb-0">{{ 'service.freight.how-does.text1' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card bg-theme">
                        <img loading="lazy" class="card-img-top" src="./assets/images/warehouse.jpg" alt="DPL service image">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="text-light">{{ 'service.freight.how-does.theme2' | translate }}</h4>
                            </div>
                            <div class="card-text">
                                <p class="text-light mb-0">{{ 'service.freight.how-does.text2' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card bg-theme">
                        <img loading="lazy" class="card-img-top" src="./assets/images/forklift_driver_relocating.jpg"
                            alt="DPL service image">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="text-light">{{ 'service.freight.how-does.theme3' | translate }}</h4>
                            </div>
                            <div class="card-text">
                                <p class="text-light mb-0">{{ 'service.freight.how-does.text3' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card bg-theme">
                        <img loading="lazy" class="card-img-top" src="./assets/images/carries/Flatbate_freight/2.jpg"
                            alt="DPL service image">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="text-light">{{ 'service.freight.how-does.theme4' | translate }}</h4>
                            </div>
                            <div class="card-text">
                                <p class="text-light mb-0">{{ 'service.freight.how-does.text4' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card bg-theme">
                        <img loading="lazy" class="card-img-top" src="./assets/images/carries/Flatbate_freight/3.jpg"
                            alt="DPL service image">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="text-light">{{ 'service.freight.how-does.theme5' | translate }}</h4>
                            </div>
                            <div class="card-text">
                                <p class="text-light mb-0">{{ 'service.freight.how-does.text5' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card bg-theme">
                        <img loading="lazy" class="card-img-top" src="./assets/images/carries/Flatbate_freight/flatbate_fre1.jpg"
                            alt="DPL service image">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="text-light">{{ 'service.freight.how-does.theme6' | translate }}</h4>
                            </div>
                            <div class="card-text">
                                <p class="text-light mb-0">{{ 'service.freight.how-does.text6' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card bg-theme">
                        <img loading="lazy" class="card-img-top" src="./assets/images/carries/Flatbate_freight/1.jpg"
                            alt="DPL service image">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="text-light">{{ 'service.freight.how-does.theme7' | translate }}</h4>
                            </div>
                            <div class="card-text">
                                <p class="text-light mb-0">{{ 'service.freight.how-does.text7' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card bg-theme">
                        <img loading="lazy" class="card-img-top" src="./assets/images/carries/Step_Deck/4.jpg" alt="DPL service image">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="text-light">{{ 'service.freight.how-does.theme8' | translate }}</h4>
                            </div>
                            <div class="card-text">
                                <p class="text-light mb-0">{{ 'service.freight.how-does.text8' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="swiper-pagination"></div>

    </div>
</section>