<div class="container my-5">
    <h3 class="text-center mb-4">Blogs</h3>

    <div class="spotlight-group" data-autohide="all">
        <div class="row">
            <ng-container *ngFor="let item of blogsList()">
                <div class="mx-auto mb-4 col-11 col-sm-5 col-md-4 col-lg-3 col-xl-3">
                    <a class="spotlight h-100 d-flex" href="{{ imgUrl + item.image_name }}">
                        <img [src]="imgUrl + item.image_name" loading="lazy" priority class="img-fluid" alt="Gallery image">
                    </a>
                </div>
            </ng-container>
        </div>
    </div>
</div>