<app-bread-crumbs img_url="enclosed.jpg">
    <div class="container">
        <div class="h-100 d-f-a-c-j-c flex-column text-center">
            <h2 class="text-light">{{ 'carriers.auto.enclosed-car.title1' | translate }}</h2>
            <p class="text-light w-50">{{ 'carriers.auto.enclosed-car.text1' | translate }}</p>

            <a routerLink="/app/services/auto/how-much-does-it-cost" class="btn-theme">Get a free quote</a>
        </div>
    </div>
</app-bread-crumbs>






<div class="container my-5 py-5">
    <app-section-title title="{{ 'carriers.auto.enclosed-car.title2' | translate }}"></app-section-title>
    <div class="text-list">
        <ul>
            <li>{{ 'carriers.auto.enclosed-car.text2' | translate }}</li>
            <li>{{ 'carriers.auto.enclosed-car.text3' | translate }}</li>
            <li>{{ 'carriers.auto.enclosed-car.text4' | translate }}</li>
            <li>{{ 'carriers.auto.enclosed-car.text5' | translate }}</li>
            <li>{{ 'carriers.auto.enclosed-car.text6' | translate }}</li>
            <li>{{ 'carriers.auto.enclosed-car.text7' | translate }}</li>
        </ul>
    </div>
</div>







<div class="container mb-5 pb-5">

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.auto.enclosed-car.sub-title1' | translate }}</h3>
                    <p>{{ 'carriers.auto.enclosed-car.sub-text1' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Enclosed_auto/2.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>


    <div class="row sm-reverse">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.auto.enclosed-car.sub-title2' | translate }}</h3>
                    <p>{{ 'carriers.auto.enclosed-car.sub-text2' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Enclosed_auto/3.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

    <div class="row">
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.auto.enclosed-car.sub-title3' | translate }}</h3>
                    <p>{{ 'carriers.auto.enclosed-car.sub-text3' | translate }}</p>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img src="./assets/images/carries/Enclosed_auto/4.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

</div>